/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
}

.search-bar {
    position: relative;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

    .search-bar input {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #31b057;
        border-radius: 5px;
    }

    .search-bar img {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
    }

.suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
}

    .suggestions div {
        padding: 10px;
        cursor: pointer;
    }

        .suggestions div:hover {
            background-color: #f0f0f0;
        }

        .suggestions div:hover,
        .suggestions div.selected {
            background-color: #31b057; /* Background color for selected suggestion */
            color: #fff; /* Text color for better contrast */
        }

#address-verification {
    margin-top: 20px;
}

#saved-addresses {
    margin-top: 20px;
}

    #saved-addresses ul {
        list-style-type: none;
        padding: 0;
    }

    #saved-addresses li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    #saved-addresses img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    #saved-addresses input[type="radio"] {
        margin-right: 10px;
    }

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #31b057;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    button img {
        width: 20px;
        margin-right: 10px;
    }


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.h1profile {
    text-align: center;
    color: #31b057;
}

.profile-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imageprofile {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #31b057;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background-color: #28a745;
    }

/* Estilos adicionales para mostrar la contraseña */
.show-password {
    display: block;
}

/* Estilos adicionales para ocultar la contraseña */
.hide-password {
    display: none;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
