body{
    margin:0px
    }
    .barra {
        font-family: 'Lato', sans-serif;
        /**Alto y ancho de donde se va a activar cuando pase el mouse**/
        width:2%;
        height:2%;
        /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
        position:fixed;
        /*Tiempo en el que va a transitar la animacion*/
        transition: .4s all ;
        /*este arriba de todo en la pantalla*/
        z-index: 1;  
    }
    
    .barra ul{
        /*solucionar espacios no deseados*/
        padding:0px;
        text-align: center;    
    }

    .barra  li{
        /*Velocidad de transicion del contenido*/
        transition:all .3s;
        list-style: none; 
        display: none;
    }

    .barra:hover table{
        width: 100%;
        margin-left: 10%;
    }
    
    .barra a{
        text-decoration: none;
        font-weight: normal;
        /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
        transition: .3s all ;
        /*Se ocultan los elementos*/
        font-size: 0px;
        padding:0px;
    }
    
    .barra  h2{
        text-align: center;
        color: #25B354;
        font-family: 'Lobster', cursive;
        font-size: 20px;
        padding:3px;
        padding-bottom:3px;
        display: none;   
    }

    .barra  h3{
        text-align: left;
        color: #000000;
        font-family: 'Roboto';
        font-size: 15px;
        padding:1px;
        padding-bottom:1px;
        display: none;
        margin-left: 1rem;
    }

    .barra  h4{
        text-align: left;
        color: #000000;
        font-family: 'Calibri';
        font-size: 10px;
        padding:1px;
        padding-bottom:1px;
        display: none;
        margin-left: 1rem;
    }

    .barra button {
        background-color: #25B354;
        color: #000000;
        border: none;
        padding: 10px 20px;
        cursor: pointer;   
        display: none; 
    }
    
    .barra img{
        padding-top: 30px;
        padding-left: 10px;
    }
    
    .barra:hover{
        /*Tamaño cuando el cursor señale la barra*/
        width: 70%;
        height: 100%;
        background: rgba(255, 255, 255, 0.98);
    }
    .barra:hover h2{
        /*posicion dentro de barra del h2*/
        padding:15px;
        font-size: 35px;
        display: flex;
    }
    .barra:hover h3{
        /*posicion dentro de barra del h3*/
        padding:1px;
        font-size: 15px;
        display: flex;
    }
    .barra:hover h4{
        /*posicion dentro de barra del h4*/
        padding:1px;
        font-size: 10px;
        display: flex;
    }
    .barra:hover button {
        display: flex;  
        justify-content: center;
        align-items: center; 
    }
    .barra:hover a{ 
        font-size:15px ;
        color:rgb(0, 0, 0);
        text-align: left;
        /*Se usa el display block para que el enlace respete el margin*/
        display: block;
        padding:10px;
    }
    .barra:hover img{
        /*Desaparecer la imagen*/
        height:0px;
    }
    
    .barra:hover li{
        border-top:1px solid #03121b;
        /*Espacios entre las lineas y el contenido*/
        width:100%;   
        display: block; 
    }
    
    .barra:hover ul:last-of-type{
        border-bottom: 1px solid #03121b;
    }
    
    .barra:hover a:hover{ 
        font-size: 20px;
        padding: 20px 0px; 
        background: rgba(130, 223, 125, 0.503);  
    }
    
    @media (min-width: 601px){
        .barra:hover{
            width: 40%;
            overflow: auto;
        }
    }

    @media (max-width: 600px){
        .barra:hover{
            width: 80%;
            overflow: auto;
        }
    }

    @media (min-width: 992px){
        .barra:hover{
            width: 25%;
            overflow: auto;
        }
    }